@import '../../variables.scss';

.calendar {
  margin-top: 20px;

  .calendar-info-card {
    font-size: 18px;
    font-weight: 900;

    p {
      margin: 0;
    }
  }

  .info-section-wrapper {
    margin-top: 15px;

    .calendar-info-card {
      text-align: left;

      ul {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}
