@import '../variables.scss';

.navbar {
  background-color: $white;
  margin: 0;

  .navbar-header {
    .navbar-toggle {
      margin-top: 13px;
    }
  }

  .navbar-brand {
    padding: 10px 15px;
    height: 80px;

    img {
      height: 100%;
    }

    @media (max-width: $screen-xs-max) {
      height: 60px;
    }
  }

  .navbar-nav {
    font-size: 16px;
    font-weight: $font-light-bold;

    a {
      color: $primary-black;

      @media (min-width: $screen-sm-min) {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
      }
    }

    .active {
      font-weight: $font-bold;
      border-bottom: 3px solid $primary-black;

      a {
        background-color: transparent;
        padding-bottom: 1px;

        &:focus, &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
