@import '../variables.scss';

.info-section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;

  h3 {
    color: $white
  }

  p {
    color: $white
  }

  .text-container {
    padding-right: 50px;
  }
}