// General brand colors
$black: #000;
$white: #fff;
$grey: #E6E6E6;
$light-grey: #f2f2f2;
$extra-light-grey: #f8f8f8;
$red: #ff1546;
$disabled-grey: #b3b3b3;
$primary-black: #4d4d4d;
$primary-green: #79c942;
$primary-green-hover: #87d05a;
$primary-grey: #F2F2F2;
$orange: #edc43d;
$turquoise: #37AFC7;
$border-color: #d5d5d5;

// Responsive breakpoints
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

// Fonts
$font-bold: 600;
$font-light-bold: 500;
