@import '../../variables.scss';

.homepage {
  .hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 82px);
    background: no-repeat center;
    background-size: cover;
    text-align: center;
    color: $white;

    @media (max-width: $screen-xs-max) {
      height: calc(100vh - 62px);
    }

    .info {
      padding: 20px;

      h1 {
        font-family: 'American Typewriter', sans-serif;
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 30px;

        @media (max-width: $screen-xs-max) {
          font-size: 40px;
        }
      }

      p {
        margin: 30px 0;
      }

      button {
        margin-bottom: 100px;
      }

      .subtext {
        display: block;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

.home-modal {
  .modal-content {
    min-height: 545px;
  }

  .modal-body {
    text-align: center;
    color: $primary-black;
    padding: 100px 15px;

    .title {
      font-family: 'American Typewriter', sans-serif;
      font-size: 40px;
      font-weight: bold;
      margin: 0;
    }

    .info {
      font-size: 16px;
      width: 70%;
      margin: 30px auto;
    }

    .form-group {
      margin-bottom: 40px;
    }

    button {
      margin: 0;
    }
  }
}
